.projectsSection {
    padding: 80px 20px;
    min-height: 80vh;
}
.projectsSection h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}
.projectsSection .projectsDescription {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.85);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;  
}

.projectsWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.projectCard {
    max-width: 1200px;
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 12px 35px rgba(14, 170, 205, 0.31),
                0 0 0 1px rgba(0, 0, 0, 0.08) inset;
    
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-image: 
        linear-gradient(145deg, #1d3449 0%, #295277 100%),
        linear-gradient(145deg, #8c6daf, #447296, #66a6d9, #854a9d);
    background-size: 100%, 200% 100%;
    animation: shine 5s linear infinite;
}

@keyframes shine {  /* Nombre de la coreografia "shine"*/
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}

.reverse {
  flex-direction: row-reverse;
}

.projectImage {
    flex: 1.2;
}

.projectImage img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.projectContent{
    flex: 1.8;
    color: #d4d3d3;
}

.tags {
    margin: 1rem 0;
    display: flex;
    gap: 0.8rem;
}

.tags span {
    background-color: rgb(29, 55, 80);
    color: #18C4EA;
    padding: 0.3rem 0.8rem;
    border-radius: 12px;
    font-size: 0.9rem;
}
.projectLinks {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
    font: 1.7em sans-serif;
}
.projectLinks a {
    color: #0b2238;
}


.projectCard {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.projectCard.visible {
  opacity: 1;
  transform: translateY(0);
}

